.container-fluid {
    padding: 2.5rem 0;
  }
  
  .section-title {
    text-align: center;
    position: relative;
    padding-bottom: 1.5rem;
    margin-bottom: 3rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .section-title h5 {
    font-weight: bold;
    color: #31B0EA;
    text-transform: uppercase;
  }
  
  .section-title h1 {
    margin-bottom: 0;
    color:#1C1919;
    font-size:24px;
  }
  
  .bg-primary {
    background-color:#31B0EA !important;
  }
  
  .rounded {
    border-radius: 0.25rem;
  }
  
  .text-primary {
    color: #31B0EA!important;
    font-size:30px;
  }
 
  .ps-4 {
    padding-left: 1.5rem !important;
  }
  
  h5,
  h6 {
    margin: 0;
  }
  
  h5.mb-2 {
    margin-bottom: 0.5rem;
  }
  
  .form-control {
    border: none;
    border-radius: 0.25rem;
  }
  
  .form-control.bg-light {
    background-color: #E8E8E8 !important;
  }
  
  .form-control:focus {
    outline: none;
    box-shadow: none;
  }
  
  .btn-primary {
    background-color: #31B0EA;
    border: none;
    color: #fff;
    padding: 1rem 0;
    width: 100%;
    border-radius: 0.25rem;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  iframe {
    border-radius: 0.25rem;
    min-height: 350px;
    border: none;
  }
  
  @media (max-width: 768px) {
    .section-title h1 {
      font-size: 1.75rem;
    }
  
    .container-fluid,
    .container {
      padding: 1.5rem;
    }
  }
  